@import "../../../../variables.scss";

.titulo {
  font-family: 'Sora';
  font-size: 28.5px;
  font-weight: 700;
  color: #F3F6FA;
}

.container-fluid {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.13);
  background-color: $secondary;
  border: solid 1px $contrast;
}

.main-style {
  height: 90vh;
}

.rounded {
  border-radius: 15px !important;
}

.btn-volver {
  padding-left: 0.5rem;
  transition: 0.2s ease;
  color: $contrast;
}

.btn-volver:hover {
  padding: 0;
  transition: 0.2s ease;
}

.table-responsive {
  background-color: transparent;
  position: relative;
}

th {
  background-color: inherit;
  font-style: normal;
  font-size: 16px;
  position: relative;
  align-items: center;
  white-space: nowrap;
  border-radius: 20px;
  border-top: none !important;
  & > div {
    background-color: inherit;
    color: white;
  }
}

td {
  align-items: center;
  white-space: nowrap;
  color: white;
  font-size: 16px;
  padding: 0.5rem 0.5rem;
  border: none !important;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: $primary;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: $semi-contrast;
}

.table {
  background-color: $secondary;
  border-radius: 8px;
  overflow: hidden;
}


.ico-spotify {
  height: 24px;
  width: 24px;
}

.no-data {
  display: flex;
  justify-content: center;
  color: white;
  padding: 20px;
}
