<div class="container pt-5">
    <div class="d-flex justify-content-between align-items-center">
      <ul class="d-flex list-unstyled">
        <li>
          <a class="link d-flex align-items-center text-decoration-none" role="button" (click)="volver()">
            <span class="material-symbols-outlined align-top">chevron_left</span>
            <span class="btn-volver">Volver</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="container bg-white rounded">
      <div class="row">
        <div class="container-fluid pb-5 m-0 rounded shadow justify-content-center d-flex col-12">
          <div class="p-5">
            <h3 class="titulo">Veamos el listado de personas ingresadas!!</h3>
            <div *ngIf="personData.length > 0" class="table-responsive d-flex">
                <table class="table table-striped mb-0" aria-label="" >
                    <thead class="border-bottom">
                      <th><div class="d-flex justify-content-start">Nombre</div></th>
                      <th><div class="d-flex">Apellido</div></th>
                      <th><div class="d-flex">Artista</div></th>
                      <th><div class="d-flex">Accion</div></th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of personData">
                        <td class="text-left align-middle">{{item.nombre}}</td>
                        <td class="text-left align-middle">{{item.apellido}}</td>
                        <td class="text-left align-middle">{{item.artista}}</td>
                        <td class="text-left align-middle" (click)="favortiteArtistTracks(item.artista)" role="button"><img class="ico-spotify" src="/assets/ico/spotify-ico.png" alt=""></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="no-data" *ngIf="!personData.length">
              <p>No existen personas cargadas!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>