<div class="container pt-5">
    <div class="container bg-white rounded">
      <div class="row">
        <div class="container-fluid pb-5 m-0 rounded shadow">
          <div class="p-5">
            <div class="col-12">
              <h3 class="d-flex justify-content-center m-4 titulo">Bienvenido a aprendiendo Angular con el squad SAT</h3>
              <div class="div-container d-flex">
                <div class="button-container" role="button" (click)="moveTo('forms')">
                  <div>
                    <span class="material-symbols-outlined text-white">description</span>
                  </div>
                  <div class="button-text text-white">Formularios Reactivos</div>
                </div>
                <div class="button-container" role="button" (click)="moveTo('services')">
                  <div>
                    <span class="material-symbols-outlined text-white">leak_add</span>
                  </div>
                  <div class="button-text text-white">Servicios y Apis</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>