.titulo {
    font-family: 'Sora';
    font-size: 28.5px;
    font-weight: 700;
    color:#F3F6FA;
}
  
.container-fluid{
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.13);
}
.main-style{
  height: 90vh;
}
  
  
.rounded{
  border-radius: 15px !important;
}
  
.btn-volver{
  padding-left: 0.5rem;
  transition: 0.2s ease;
}
  
.btn-volver:hover{
  padding: 0;
  transition: 0.2s ease;
}

.button-container{
  width: 159px; 
  height: 159px; 
  padding: 25px; 
  background: #303030; 
  border-radius: 8px; 
  border: 1px #303030 
  solid; flex-direction: 
  column; justify-content: 
  center; align-items: 
  center; gap: 6px; 
  display: inline-flex
}

.button-container:hover{
  background-color: #C3002F;
  border-color: #C3002F;
  color: #F3F6FA;
  transition: 0.6s ease;
  .button-text{
    color: #F3F6FA;
    transition: 0.6s ease;
  }
}

.button-text{
  text-align: center; 
  color: #F3F6FA; 
  font-size: 12px; 
  font-family: Sora; 
  font-weight: 700; 
  line-height: 18.42px; 
  word-wrap: break-word
}


.div-container{
  justify-content: space-evenly;
}

.container-fluid{
  background-color: #0D47A1;
}