.titulo {
    font-family: 'Sora';
    font-size: 28.5px;
    font-weight: 700;
    color: #F3F6FA;
}

.container-fluid {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.13);
}

.main-style {
    height: 90vh;
}

.rounded {
    border-radius: 15px !important;
}

.btn-volver {
    padding-left: 0.5rem;
    transition: 0.2s ease;
}

.btn-volver:hover {
    padding: 0;
    transition: 0.2s ease;
}

.container-fluid {
    background-color: #C3002F;
}

