<div class="container pt-5 main">
  <div class="d-flex justify-content-between align-items-center">
    <ul class="d-flex list-unstyled">
      <li>
        <a class="link d-flex align-items-center text-decoration-none btn-volver" role="button" (click)="volver()">
          <span class="material-symbols-outlined align-top">chevron_left</span>
          <span>Volver</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="container bg-white rounded">
    <div class="row">
      <div class="container-fluid pb-5 m-0 rounded shadow justify-content-center d-flex col-12">
        <div class="p-5 d-flex flex-column align-items-center">
          <h3 class="titulo">Ingrese los datos de la persona.</h3>
          <form [formGroup]="form" autocomplete="off" class="col-10 mt-5">
            <div class="d-grid gap-3">
              <div class="form-group">
                <label class="label-color">Nombre</label>
                <input class="form-control" type="text" formControlName="nombre"
                  [placeholder]="'Ingrese el nombre'">
              </div>
              <div class="form-group">
                <label class="label-color">Apellido</label>
                <input class="form-control" type="text" formControlName="apellido"
                  [placeholder]="'Ingrese el apellido'">
              </div>
              <div class="form-group">
                <label class="label-color">Artista Favorito</label>
                <input class="form-control" type="text" formControlName="artista" [placeholder]="'Ingrese el genero'">
              </div>
            </div>
            <div class="d-grid mt-3">
              <button class="btn btn-light btn-lg mt-3" (click)="agregarPersona()" type="button" [disabled]="!form.valid">Agregar persona</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
