<div class="card card-container card-body">
    <div class="d-flex flex-column">
        <div class="agencia agencia-item">
            <p class="mb-0 agencia-title">Track</p>
            <a href="{{serviceData.url}}"><p class="agencia-valor">{{serviceData.name}}</p></a>
        </div>
        <div class="agencia-item">
            <p class="mb-0 agencia-title">Cancion</p>
            <p class="agencia-valor">{{artista}}</p>
        </div>
        <div class="ico-item">
            <img class="ico-spotify" src="/assets/ico/spotify-ico.png" alt="">
        </div>
    </div>
</div>